/* ==========================================================================
   Paths
   ========================================================================== */
/* ==========================================================================
   Breakpoints
   ------------------------- 
   Source: http://blog.scur.pl/2012/06/variable-media-queries-less-css/
   ========================================================================== */
/* ========================================================================== */
/*
   element{
   
   		styless
   		
   		@media @mobile {
   		}
   		@media @tablet @highdensity{
   		}
   		@media @desktop {
   		}
   		@media @desktop-xl {
   		}
   	
   }
   */
* {
  font-weight: 300;
}
@font-face {
  font-family: 'BigNoodleTitling';
  src: url('../fonts/big_noodle_titling.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/big_noodle_titling.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/big_noodle_titling.woff') format('woff'), /* Modern Browsers */ url('../fonts/big_noodle_titling.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/big_noodle_titling.svg#450ab03ba24b5555f90d646c7bc24441') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'BigNoodleTitling';
  src: url('../fonts/big_noodle_titling_oblique.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/big_noodle_titling_oblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/big_noodle_titling_oblique.woff') format('woff'), /* Modern Browsers */ url('../fonts/big_noodle_titling_oblique.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/big_noodle_titling_oblique.svg#c1eb8be19f93449b3c468f9f1b540bd9') format('svg');
  /* Legacy iOS */
  font-style: oblique;
  font-weight: 400;
}
@font-face {
  font-family: 'Knockout-JuniorBantamwt';
  src: url('../fonts/Knockout-HTF27-JuniorBantamwt.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Knockout-HTF27-JuniorBantamwt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Knockout-HTF27-JuniorBantamwt.woff') format('woff'), /* Modern Browsers */ url('../fonts/Knockout-HTF27-JuniorBantamwt.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Knockout-HTF27-JuniorBantamwt.svg#330cb8968bd6efb75362f75689f9ee31') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Knockout-Bantamweight';
  src: url('../fonts/Knockout-HTF47-Bantamweight.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Knockout-HTF47-Bantamweight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Knockout-HTF47-Bantamweight.woff') format('woff'), /* Modern Browsers */ url('../fonts/Knockout-HTF47-Bantamweight.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Knockout-HTF47-Bantamweight.svg#218900fca350aa7dec2613c4ebe35ed0') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400 !important;
}
/*GENERAL HACKS/////////////////////////////////////////////////////////////
///////////////////////////////////////////////////*/
.zero-auto {
  margin: 0 auto !important;
  position: relative !important;
  float: none !important;
}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clearfix {
  width: 100%;
  height: 0;
  clear: both;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
input:focus:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
hr {
  height: 1px;
  background: #eceff1;
  border: none;
  display: block;
}
.login-btns a {
  width: 100%;
  color: white;
}
.login-btns.midd-w {
  text-align: center;
}
.login-btns.midd-w a {
  width: 43%;
  display: inline-block;
  float: none;
}
@media only screen and (max-width: 768px) {
  .login-btns.midd-w a {
    width: 100%;
    clear: both;
  }
}
.login-btns .midd-w-a {
  width: 40% !important;
  margin: 0 5% 20px 5%;
  float: left;
}
.prefix {
  color: gray;
}
.white-btn-txt {
  color: white !important;
}
.button-collapse {
  padding: 0 10px;
}
.hide-on {
  width: 1px;
  height: 1px;
  position: absolute;
  top: -200%;
  overflow: hidden;
  opacity: 0;
  z-index: -99999;
}
.userAvatar {
  display: inline-block;
  vertical-align: middle;
  margin: 30px auto;
  display: block;
  -webkit-box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
  -moz-box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
  box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
}
.brandWiFiX {
  -webkit-box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
  -moz-box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
  box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
  width: 145px;
  height: 145px;
  background: white;
  border: 5px solid transparent;
  margin: -72px 0 0 -72px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 888;
  text-align: center;
  line-height: 135px !important;
  cursor: default;
}
@media only screen and (max-width: 400px) {
  .brandWiFiX {
    margin: -82px 0 0 -72px;
  }
}
.brandWiFiX .userAvatar {
  vertical-align: middle;
  margin: 0;
  display: inline-block;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.brandsPic {
  text-align: center;
}
.brandsPic a {
  width: 143px;
  height: 143px;
  -webkit-box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
  -moz-box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
  box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
  margin: 30px;
  display: inline-block;
  padding: 10px;
  background: white;
  text-align: center;
  line-height: 115px;
}
.brandsPic a img {
  left: 0;
  display: inline-block;
  vertical-align: middle;
  max-height: 120px;
  max-width: 120px;
}
.clear-pad-marg {
  margin: 0 !important;
  padding: 0 !important;
}
.border-box {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
.content-box {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
body {
  background: black;
}
.wrapper-bx {
  /*margin: 0 auto;*/
  position: relative;
}
@media only screen and (min-width: 1920px) {
  .wrapper-bx {
    width: 90%;
    margin: 0 auto;
  }
}
.home-sect {
  /*width: 100%;*/
  /*height: 1024px;
  background: url('../img/bg-home.jpg') no-repeat left top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;*/
  position: relative;
  /*
	.tk-logo{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -223px;
		margin-top: -147px;
	}
	*/
  width: 100%;
  margin: 0 auto;
  margin-top: 2px;
}
.click-nav {
  width: 65px;
  height: 65px;
  position: fixed;
  z-index: 90;
  right: 60px;
  top: 60px;
  max-width: 6px;
}
.click-nav img {
  margin: 0 auto;
  display: block;
}
.welcome-sect {
  width: 100%;
  height: 1130px;
  position: relative;
  background: #f0eded;
  margin: 0 auto;
}
.welcome-sect .meat-img {
  position: absolute;
  right: 0;
  top: 10px;
}
.welcome-sect .welcam-container {
  /*margin-top: 10%;*/
  padding: 0px 30px 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 945px) and (min-width: 731px) {
  .welcome-sect .welcam-container {
    /*margin-top: 10%;*/
  }
  .welcome-sect .welcam-container .welcam h1 {
    font-size: 100px !important;
  }
  /*
  .welcome-sect .welcam-container .welcam p {
    font-size: 20px !important;
  }
  .parrafos_big{
    font-size: 20px;
  }
  */
}
@media only screen and (max-width: 730px) and (min-width: 401px) {
  .welcome-sect .welcam-container {
    /*margin-top: 10%;*/
  }
  .welcome-sect .welcam-container .welcam h1 {
    font-size: 60px !important;
  }
  /*
  .welcome-sect .welcam-container .welcam p {
    font-size: 8px !important;
  }
  .parrafos_big{
    font-size: 8px;
  }
  */
}
@media only screen and (max-width: 400px) {
  .welcome-sect .welcam-container {
    /*margin-top: 10% !important;*/
  }
  .welcome-sect .welcam-container .welcam h1 {
    font-size: 40px !important;
  }
  /*
  .welcome-sect .welcam-container .welcam p {
    font-size: 6px !important;
  }
  .parrafos_big{
    font-size: 6px;
  }
  */
}
@media only screen and (max-width: 300px) {
  .welcome-sect .welcam-container {
    margin-top: 0% !important;
  }
  .welcome-sect .welcam-container .welcam h1 {
    font-size: 30px !important;
  }
  /*
  .welcome-sect .welcam-container .welcam p {
    font-size: 5px !important;
  }
  .parrafos_big{
    font-size: 5px;
  }
  */
}
@media only screen and (max-width: 300px) {
  .welcome-sect .welcam-container {
    margin-top: 0% !important;
  }
  .welcome-sect .welcam-container .welcam h1 {
    font-size: 20px !important;
  }
  /*
  .welcome-sect .welcam-container .welcam p {
    font-size: 4px !important;
  }
  .parrafos_big{
    font-size: 4px;
  }
  */
}
@media only screen and (max-width: 220px) {
  .welcome-sect .welcam-container {
    margin-top: 0% !important;
  }
  .welcome-sect .welcam-container .welcam h1 {
    font-size: 17px !important;
  }
  /*
  .welcome-sect .welcam-container .welcam p {
    font-size: 3px !important;
  }
  .parrafos_big{
    font-size: 3px;
  }
  */
}
.welcome-sect .welcam-container .welcam {
  /*width: 800px;*/
  /*position: absolute;*/
  /*left: 100px;*/
  top: 30%;
  width: 100%;
}
.welcome-sect .welcam-container .welcam h1 {
  font-family: 'Knockout-Bantamweight';
  font-size: 130px;
  text-align: center;
}
.welcome-sect .welcam-container .welcam p {
  color: #231f20;
  /*font-family: "Century Gothic";*/
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}
@media only screen and (max-width: 400px) {
  .welcome-sect .welcam-container .welcam p {
    font-size: 12px;
  }
}
.titulo_gral {
  font-family: 'Knockout-Bantamweight' !important;
}
.texto_gral {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
}
.titulo_formulario {
  font-family: 'Knockout-Bantamweight' !important;
}
.historia-sect {
  /*.size(100%, 1024px);
	background: url('../img/bg-historia.jpg') no-repeat left top;
	.background-size(cover);*/
  color: #FFF;
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.historia-sect .historia-sect-back {
  height: 824px;
  /*
		background: url('../img/bg-historia.jpg') no-repeat left top;
		background-size:contain;
		*/
  position: relative;
}
.historia-sect .historia-sect-back .content_historia_box {
  width: 100%;
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
}
.historia-sect .historia-sect-back .content_historia_box .verticaltext {
  /*height: 824px;*/
}
.historia-sect .historia-sect-back .content_historia_box .verticaltext .historia-sect-left {
  top: 90%;
  /*font-size: 65px;*/
}
.historia-sect .historia-sect-back .content_historia_box .verticaltext .historia-sect-left img {
  /*padding-top: 700px;*/
  margin-left: 30px;
}
.historia-sect .historia-sect-back .content_historia_box .verticaltext .verticaltext_content {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.historia-sect .historia-sect-back .content_historia_box .content_historia {
  /*height: 824px;*/
  margin-top: 300px;
}
.historia-sect .historia-sect-back .content_historia_box .content_historia .text_historia {
  /*height: 824px;*/
  /*position: absolute;*/
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 30px;
  text-align: center;
  top: 80%;
  padding-left: 0px;
  display: block;
  /*min-width: 600px;*/
}
@media only screen and (max-width: 945px) {
  .historia-sect .historia-sect-back .content_historia_box .content_historia .text_historia {
    font-size: 20px !important;
  }
}
@media only screen and (max-width: 768px) {
  .historia-sect .historia-sect-back .content_historia_box .content_historia .text_historia {
    font-size: 10px !important;
  }
}
.historia-sect .historia-sect-back .bg-historia-img {
  padding-top: 0;
  top: 0;
  /*min-height: 824px;*/
}
.historia-sect .flecha_historia_right {
  height: 824px;
  background-color: #95070b;
  padding-left: 7%;
}
.historia-sect .historia-sect-right {
  /*top: 90%;*/
  font-size: 65px;
  /*padding-top: 700px;*/
}
.menu-sect {
  /*.size(100%, 362px);
	background: url('../img/bg-cocina.png') no-repeat left top;
	.background-size(cover);*/
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
.menu-sect .floating-map {
  position: absolute;
  left: 40px;
  top: 320px;
}
.location-sect {
  width: 100%;
  height: 1154px;
  background: url('../img/chalkboard-ubicacion.png') no-repeat left top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: relative;
  top: -20px;
  z-index: 1;
  /*min-height: 300px;*/
}
@media only screen and (max-width: 500px) {
  .location-sect {
    background: url('../img/chalkboard-ubicacion-xs.png') no-repeat left top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
}
.horarios-sect {
  width: 100%;
  height: 950px;
  position: relative;
  background: #f0eded;
  z-index: 0;
  top: -50px;
}
.open-sect {
  width: 100%;
  height: 637px;
  background: url('../img/chalkboard-open-table.png') no-repeat left top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 1;
  top: -70px;
}
.contact-sect {
  width: 100%;
  height: 500px;
  position: relative;
  background: #f0eded;
  z-index: 0;
  top: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .contact-sect {
    min-height: 400px !important;
  }
}
.footer-sect {
  width: 100%;
  height: 356px;
  background: url('../img/bg-footer.png') no-repeat left top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 2;
  top: -115px;
}
.btn-group {
  position: fixed;
  z-index: 5;
  right: 60px;
  top: 60px;
}
.dropdown-menu-tk {
  right: 0px;
}
.sidenav {
  display: none;
  height: 80%;
  width: 400px;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  /*background-color: #95070b;*/
  background-color: rgba(149, 7, 11, 0.85);
  /*overflow-x: hidden;*/
  padding-top: 100px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #FFF;
  display: block;
  transition: 0.3s;
  text-align: right;
  padding-right: 60px;
}
.sidenav .closebtn {
  position: absolute;
  top: 30px;
  /*right: 60px;*/
  right: 0;
  font-size: 36px;
  /*margin-left: 50px;*/
  text-align: right;
}
.sidenav .closebtn img {
  width: 40px;
}
.sidenav a:hover,
.offcanvas a:focus {
  color: #f1f1f1;
}
